body{
    
   
    overflow-x:hidden;
    scroll-behavior: smooth;
    /* background-color: black; */
    

}
.container
{
    filter: brightness(100%);
}
.header
{
    background-image:  url("../images/egor");

}

.header
{   
    background-size: cover;
    background-repeat: no-repeat;
   
}

.navbar-toggler
{
    color: #f5a231;
    border: 2px solid;

}
.navbar-toggler:focus
{
    border: 2px solid;
    border-width: 0px;

}


.menutog
{
    width: 20px;
}




.nav-link
{
    color: whitesmoke;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    
}

.nav-link:hover
{
    color: #f5a231;
}

#logo
{
    width: 10%;
    height: 9%;
}

#logo:hover
{
    width: 11%;
    transition: 1s;
}

#nav2
{
    display: flex;
}



#cart
{
    width: 23px;
    height: 23px;
}


#nav2 a
{
    color: whitesmoke;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;

}
#nav2 a:hover
{
    color: #f5a231;
}




/* Page Title */
.pagetitle
{
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #f5a231;
    margin-top: 2%;
}



#PizzaName,#topping,#pizzasize,#crust
{
    padding: 5px 45px 5px 2px;
    font-family: 'Nunito', sans-serif;

}


label
{
    font-family: 'Nunito', sans-serif;

}

::placeholder
{
    font-family: 'Nunito', sans-serif;

}
input[type='radio']:checked
{
    background-color: #f5a231;
    box-shadow: none;
    outline: none;
}

input[type='radio']:checked:focus
{
    background-color: #f5a231;
    box-shadow: none;
    border: none;
}

input:focus
{
    outline: none;
}

#location,#comment
{
    padding: 3px auto;
}

#paynow
{
    background-color: #f5a231;
    border: none;
    font-family: 'Nunito', sans-serif;

}

#paynow:focus
{
    outline: 0;
    border: none;
    box-shadow: none;

}