body{
    
   
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
    

}
.container
{
    filter: brightness(100%);
}

.header
{
    background-image: url("../images/patrick.jpg");
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* width: 100%;
    height: 100vh; */
}





.navbar-toggler
{
    color: #f5a231;
    border: 2px solid;

}
.navbar-toggler:focus
{
    border: 2px solid;
    border-width: 0px;

}


.menutog
{
    width: 20px;
}










.nav-link
{
    color: whitesmoke;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    
}

.nav-link:hover
{
    color: #f5a231;
}

#logo
{
    width: 10%;
    height: 9%;
}

#logo:hover
{
    width: 11%;
    transition: 1s;
}

#nav2
{
    display: flex;
}


#cart
{
    width: 23px;
    height: 23px;
}


#nav2 a
{
    color: whitesmoke;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;

}
#nav2 a:hover
{
    color: #f5a231;
}


#order
{   
    font-family: 'Nunito', sans-serif;
    background-color: #f5a231;
    border: none;
    font-size: 15px;


}



/* Hero Section */


.card
{
    box-shadow: 0px 0px 5px 0.9px rgb(207, 204, 204);
    border: 2px solid #f5a231;
    border-radius: 5px;
}

.card-title:hover
{
    
    transform: translate(2px,2px);
    transition: 1s;
}
.card-text
{
    font-family: 'Nunito', sans-serif;

}



.fs
{
    color: whitesmoke;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 60px;

}


.fs span
{
    color: #f5a231;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;


}

#viewM
{
    font-family: 'Nunito', sans-serif;
    border: 2PX solid #f5a231;
    background-color: transparent;

}
#viewM:hover
{
    box-shadow: 0px 0px 5px whitesmoke;
    transform: translateX(20px);
    transition: 1s;
}
#next
{
    width: 40px;
}

.card img{
    margin-left: 40%;
    margin-top: 5%;
}



#footer
{
    background-color: #1a2024;
    color: whitesmoke;
    font-family: 'Nunito', sans-serif;

}
#footerTitle
{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    color: #f5a231;
}

#footerlogo
{
    width: 20%;
}
#footer span img
{
    width: 25px;
}

#footertitle2
{
    color: #f5a231;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}


#credit
{
    font-family: 'Nunito', sans-serif;    
    color: #f5a231;


}

#credit:hover
{
    color: whitesmoke;
}